
@media (min-width: 320px) and (max-width: 1024px) {
  #canvas {
    /* display:none; */
    border: 2px solid rgb(61, 50, 50); 
    width: 100%;
    height: 90vh; 
    }

    .wrapper {
    width: 100%;
    height: 90vh;
    }

    .overlay { 
      border: 2px solid rgb(82, 75, 179); 
    width: 100%;
    height: 90vh;

    }
} 